$primary-color: #214f4b;
$secondary-color: #16c172;
$pink-color: #bd38b2;
$third-color: #09e85e;
$yellow: #fed766;
$gray: #272727;
$blue: #009fb7;

html,
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

@mixin mobile {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1260px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 2000px) {
    @content;
  }
}

a {
  color: $gray;
  text-decoration: none;
}
body {
  font-family: 'Open Sans';
}
.blue-gradient {
  background: linear-gradient(
    to right,
    rgb(29, 78, 216),
    rgb(30, 64, 175),
    rgb(17, 24, 39)
  );
}

.text-gradient {
  background: radial-gradient(
    circle 997px at 99.9% 96.8%,
    rgba(132, 255, 199, 1) 0%,
    rgba(137, 248, 255, 1) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-3 {
  background-image: radial-gradient(
    circle 976px at 51.2% 51%,
    rgba(11, 27, 103, 1) 0%,
    rgba(16, 66, 157, 1) 0%,
    rgba(11, 27, 103, 1) 17.3%,
    rgba(11, 27, 103, 1) 58.8%,
    rgba(11, 27, 103, 1) 71.4%,
    rgba(16, 66, 157, 1) 100.2%,
    rgba(187, 187, 187, 1) 100.2%
  );
}

.blue-gradient-2 {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
}

.white-gradient {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin transparentBtn {
  width: max-content;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background: transparent;
  border: 1px solid $blue;
  color: #f1f2f3;
  cursor: pointer;
  &:hover {
    background-color: $blue;
    color: $gray;
  }
}

.glass {
  backdrop-filter: (180%) blur(10px);
  position: absolute;
  inset: 0;
}
.hidden {
  display: none;
}
.dropIn {
  animation: dropIn;
  animation-duration: 0.3s;
}

.fix-pos {
  position: fixed;
  top: 0;
}
nav {
  position: relative;
  // background-color: rgba($gray, $alpha: 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  // box-shadow: rgba(2, 1, 1, 0.1) 0px 5px 20px -5px;
  // position: fixed;
  width: 100%;
  z-index: 6;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);

  .logo {
    a {
      color: $blue;
    }
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    height: 100%;
    @include laptop() {
      display: none;
    }
    a {
      text-transform: uppercase;
      // letter-spacing: -2px;
      font-size: 20px;
      &:hover {
        mix-blend-mode: color-burn;
      }
    }
  }
  .user {
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: #fff;
    font-size: 11px;
    gap: 10px;
    img {
      object-fit: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    div {
      display: flex;
      flex-direction: column;
      span:nth-child(2) {
        letter-spacing: 1px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .hamburger {
    color: $yellow;
    font-size: 36px;
    cursor: pointer;
    display: none;
    z-index: 5;
    @include laptop() {
      display: block;
    }
  }
  .links-responsive {
    inset: 0;
    position: fixed;
    // background-color: $gray;
    height: 100vh;
    width: 100vw;
    // gap: 20px;

    background: rgba(0, 0, 0, 0.7);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(0, 0, 0, 0.3);
    // padding: 40px;
    // border-radius: 8px;
    // gap: 50px;
    // color: #fff;
    // display: flex;

    h2 {
      position: absolute;
      bottom: 20px;
      color: #111;
    }
    a {
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #f1f2f3;
      font-size: 42px;

      &:hover {
        mix-blend-mode: difference;
      }
    }
  }
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #777;
  padding: 10px;
  background-color: rgba($gray, $alpha: 0.6);
  padding: 40px;
  @include tablet() {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .logo {
    h2 {
      font-size: 40px;
    }
  }
  .links {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    a {
      font-size: 18px;
      color: #f1f2f3;
    }
  }
}

.app {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    min-height: 100vh;
    // max-width: 1260px;
    margin: auto;
    .home {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 140px 0;
      .posts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 1260px;
        .post {
          /* From https://css.glass */
          background: rgba(0, 0, 0, 0.2);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(0, 0, 0, 0.3);
          padding: 40px;
          border-radius: 8px;
          gap: 50px;
          color: #fff;
          display: flex;
          @include laptop() {
            flex-direction: column;
          }
          &:nth-child(2n) {
            flex-direction: row-reverse;
            @include laptop() {
              flex-direction: column;
            }
            .post-img {
              &::after {
                top: 20px;
                left: 20px;
              }
            }
          }
          .post-img {
            flex: 1;
            max-width: 500px;
            max-height: 500px;
            position: relative;

            @include laptop() {
              max-width: 100%;
            }
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: $blue;
              top: 20px;
              left: -20px;
              border-radius: 10px;

              z-index: -1;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
          }
          .post-content {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 40px;
            h1 {
              font-size: 54px;
              color: $pink-color;
            }

            p {
              color: #f1f2f3;
              font-size: 16px;
              letter-spacing: 0.71px;
              line-height: 28px;
              a {
                color: $third-color;
              }
            }

            button {
              @include transparentBtn();
            }
          }
        }
      }
    }

    .card {
      box-shadow: 4px 4px 10px rgba(4, 4, 4, 0.87);
      width: 300px;
      padding: 10px;
      height: 300px;
      border-radius: 8px;
      color: #fff;
      background-color: rgba(4, 4, 4, 0.87);
    }
    @include laptop() {
      width: 100%;
    }
    .auth {
      h1 {
        color: rgb(9, 9, 61);
      }
      .bline {
        height: 1px;
        width: 40px;
        background-color: crimson;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      flex-direction: column;
      gap: 30px;
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input {
          border: 1px solid lightblue;
          outline: none;
          padding: 10px;
          font-size: 16px;
          &::placeholder {
            color: #888;
            font-weight: 100;
          }
        }
        .btn {
          background-color: rgb(71, 13, 61);
          color: #f1f2f3;
          font-weight: bold;
          padding: 10px 0;
          cursor: pointer;
          border: 0;
          &:hover {
            color: yellow;
          }
        }
      }
    }
    .single-post {
      display: flex;
      color: #f1f2f3;
      max-width: 1260px;
      margin: 140px auto;
      gap: 20px;
      @include laptop() {
        flex-direction: column;
      }
      .content {
        flex: 5;
        @include laptop() {
          padding: 20px;
          flexl: 2;
        }
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
        .user {
          display: flex;
          align-items: center;
          margin: 20px 0;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .info {
          span {
            font-weight: bold;
          }
        }
        .controls {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          svg {
            background-color: $primary-color;
            border-radius: 50%;
            padding: 5px;
            fill: #f1f2f3;
            cursor: pointer;
          }
        }
        h1 {
          margin: 40px 0;
          font-size: 48px;
        }

        p {
          line-height: 30px;
          text-align: justify;
          img {
            width: initial;
            height: initial;
            object-fit: contain;
          }
          a {
            color: $third-color;
            &::before {
              content: ' ';
            }
            &::after {
              content: ' ';
            }
          }
        }
      }
      .menu-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 20px;
        position: relative;
        @include laptop() {
          flex-direction: row;
          flex-wrap: wrap;
        }
        .menu {
          margin-top: 40px;
          gap: 10px;
          flex: 2;
          display: flex;
          flex-direction: column;
          width: 300px;
          min-width: 240px;
          @include laptop() {
            flex: 1;
          }

          h3 {
            letter-spacing: 1px;
            flex-wrap: wrap;
            color: $blue;
          }

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
          p {
            &:first-child::after {
              content: '...';
            }
          }
          button {
            @include transparentBtn();
          }
        }
      }
    }
    .write-container {
      margin: 140px 0;
      .write-post {
        color: #f1f2f3;
        display: flex;
        max-width: 1260px;
        margin: auto;
        gap: 20px;
        @include laptop() {
          flex-direction: column;
        }

        .post-content {
          flex: 5;
          display: flex;
          flex-direction: column;
          gap: 40px;
          input {
            border: 1px solid $blue;
            color: #ccc;
            outline: 0;
            font-size: 22px;
            padding: 5px 10px;
            background-color: transparent;
            @include laptop() {
              margin: 10px;
            }
            &::placeholder {
              color: #888;
            }
          }
          .editor-container {
            height: 450px;
            // border: 1px solid $blue;
            overflow: scroll;
            @include laptop() {
              padding: 10px;
            }
            .ql-toolbar {
              border: 1px solid $blue !important;
            }
            .ql-container {
              border: 1px solid $blue !important;
            }
            .editor {
              height: 90%;
              border: none;
            }
          }
        }
        .options {
          display: flex;
          flex-direction: column;
          flex: 2;
          gap: 20px;
          z-index: 5;
          @include laptop() {
            padding: 10px;
          }
          .publish {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid $blue;
            padding: 10px;
            color: #f1f2f3;
            #imgLink {
              outline: 0;
              border: 1px solid $blue;
              color: #f1f2f3;
              padding: 5px 10px;
              width: 300px;
              background-color: transparent;
            }

            label {
              text-decoration: underline;
              cursor: pointer;
            }
            .buttons {
              margin-top: 30px;
              display: flex;
              gap: 5px;
              justify-content: space-between;
              :last-child {
                background-color: $primary-color;
                border: 0;
                &:hover {
                  background-color: $secondary-color;
                }
              }
              button {
                cursor: pointer;
                font-size: 12px;
                padding: 5px 10px;
                border: 1px solid $blue;
                color: #f1f2f3;
                border-radius: 5px;
                background-color: transparent;
                &:hover {
                  background-color: $blue;
                  color: $gray;
                }
              }
            }
          }
        }
        .categories {
          padding: 10px;
          border: 1px solid $blue;
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 5px;
          // color: $blue;
          align-items: flex-start;
          div {
            display: flex;
            gap: 8px;
            label {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
